body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  flex: 0;
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  width: 100vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 8px;
}

nav {
  display: flex;
}

nav>a {
  padding: 8px;
  text-decoration: none;
  color: whitesmoke;
}

nav>a:hover {
  background-color: darkslategray;
}

.footer>i {
  color: whitesmoke;
}

.content {
  flex: 1;
  width: 100vw;
  background-color: whitesmoke;
  color: slategray;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content>h1 {
  text-align: center;
}

.searchbar {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.searchbar>i {
  color: slategray;
}

.footer {
  flex: 0;
  background-color: slategray;
  display: flex;
  padding: 8px;
  width: 100vw;
  box-sizing: border-box;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 8px;

}

.fa-github {
  transition: transform .3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.image {
  width: 200px;
  padding: 8px;
}



.content {
  padding: 16px;
  box-sizing: border-box;
}

.card-detail-ol,
.deck-detail-list,
.deck-list {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.card-detail-ol>li,
.deck-detail-list>li,
.deck-list>li {
  display: flex;
  gap: 8px;
  background-color: slategray;
  transition: all .3s ease-in-out;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.card-detail-ol>li>a,
.deck-detail-list>li>a,
.deck-list>li>a {
  text-decoration: none;
  color: whitesmoke;
  padding: 8px;
}

.card-detail-ol>li:hover,
.deck-detail-list>li:hover,
.deck-list>li:hover {
  transform: translateX(8px);
  background-color: slateblue;
}

.card-detail-ol>li>form>button,
.deck-detail-list>li>form>button,
.deck-list>li>form>button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  transition: color .3s ease-in-out;
  color: whitesmoke;
}

.card-detail-ol>li>form>button:hover,
.deck-detail-list>li>form>button:hover,
.deck-list>li>form>button:hover {
  color: rgb(250, 92, 92);
}

.card_list {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.card_list>li {
  display: flex;
  list-style-type: none;
  background-color: slategray;
  transition: all .3s ease-in-out;
}

.card_list>li:hover {
  transform: translateX(8px);
  background-color: slateblue;
}

.card_list>li>a {
  text-decoration: none;
  color: whitesmoke;
  padding: 8px;
}

.card-instance-div {
  display: flex;
}

.card-instance-div>a {
  padding: 8px;
  text-decoration: none;
  color: whitesmoke;
  background-color: slategray;
  transition: all .3s ease-in-out;
}

.card-instance-div>a:hover {
  transform: translateX(8px);
  background-color: slateblue;
}

.searched-cards {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, .5fr));
  gap: 16px;
  width: 100%;
}

.searched-cards>a>img {
  width: 100%;
  border-radius: 10px;
}

.created-card {
  width: 200px;
  padding: 8px;
  border-radius: 10px;
}

.card-instance-div {
  display: flex;
  flex-direction: column;
}

.created-card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.card-instance-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}